body {
	
	font-size: 16px;
	margin-top: 0;
	font-family: $op;
	strong,
	b {
		font-family: $op-bd;
	}

	h1,h2,h3,h4 {
		font-family: $ar;
	}

	// Link styles
	
	a {
		transition: all 0.3s;
		&:hover {
			transition: all 0.2s;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.hidden-xxs {
		display: none;
		@include mq('md'){
			display: block;
		}
	}

	.visible-xxs {
		display: block;
		@include mq('md'){
			display: none;
		}
	}

	// Under construction
	&.page-template-_construction-tpl {
		article {
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	// Home hide footer
	&.home {
		.pre-footer-widgets,
		footer {
			display: none;
		}
		&.loaded {
			.loader {
				opacity: 0;
				z-index: -1;
			}
		}
	}

	// loader 
	.loader {
		opacity:1;
		transition: all 0.4s;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
		background-color: $blue-dk-2;
		&__logo {
			width: rem(208px);
			height: rem(153px);
			display: block;
			font-size: 0;
			color: transparent;
			@include center('both');
			@include mq('md') {
				width: rem(385px);
				height: rem(262px);
			}
			svg {
				width: 100%;
				height: auto;
			}
		}
	}
}