.navbar {
	position: relative;
	margin: 0 0 0 0;
	border: none;
	background-color: $white;
	@include mq('sm') {
		padding: 0 0;
		text-align: center;
	}

	.row-header {
		@include mq('sm') {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}


	// Scrolled menu styles
	&.scroll_menu {
		
	}

	&-brand {
		height: auto;
	}

	.navbar-header {
		@include mq('sm') {
			display: inline-block !important;
			vertical-align: bottom;
			float: none;
		}
		.brand-image {			
			width: rem(208px);
			height: rem(43px);
			margin: rem(5px) 0 0 0; 
			display: inline-block;
			vertical-align: bottom;
			float: none;
			@include iconBg('../images/brand/logo-black.svg');
			@include mq('md') {
				width: rem(285px);
				height: rem(72px);
			}	
		}

		#logo-svg {
			display: none;
		}
	}

	.navbar-collapse {
		@include mq('sm') {
			display: inline-block !important;
			vertical-align: bottom;
			float: none;
		}

		
		// Navigation wrapper
		.navigation-menu {
			display: block;
			@include mq('md') {
				display: inline-block;
				vertical-align: middle;
				padding: 0 rem(20px);
			}
		}

		// Menu
		ul {
			&.navbar-nav {
				float: none;
				clear: both;
				> li {
					display: block;
					text-align: center;
					@include mq('sm') {
						text-align: left;
						display: inline-block;
						margin: 0 rem(10px);
						vertical-align: middle;
						float: none;
					}
					a {
						padding: 0 rem(4px);
						font-family: $m;
						@include font(14px);
						text-transform: uppercase;
						&:hover,
						&:focus {
							background-color: transparent;
							color: $yellow;
						}
					}
					&.active {				
						a {
							background-color: transparent;
						}					
					}
				}
			}
		}
	}
}

body {
	&.home,
	&.front {
		.navbar {
			position: fixed;
			background-color: transparent;
			margin: 0 0 0 0;
			padding: rem(25px);
			border: none;
			top: 0;
			left: 0;
			width: 100%;
			@include background-gradient(rgba($black,1), rgba($black,0), 'vertical');
			@include mq('sm') {
				padding: rem(45px);
			}
			&-brand {
				.brand-image {
					background-image: url('../images/brand/logotipo.svg');
				}
			}
			&-header {
				#logo-svg {
					display: none;
				}
			}

			.navbar-collapse {
				ul {
					&.navbar-nav {
					> li {
							a {
								color: $white;
							}
						}
					}
				}
			}
		}
	}
}