//--  Fonts --//

$ar:'Arvo';
$ar-bd:'Arvo Bold';
$ar-it:'Arvo Italic';
$ar-bd-it:'Arvo Bold Italic';

$op-bd:'Open Sans Bold';
$op-it:'Open Sans Italic';
$op-lt:'Open Sans Light';
$op:'Open Sans';
$op-bd-it:'Open Sans Bold Italic';

$m:'Montserrat';
$m-bd:'Montserrat Bold';
$m-lt:'Montserrat Light';
$m-sb:'Montserrat Semi Bold';
$m-ex-bd:'Montserrat Extra Bold';
$ma-ex-lt:'Montserrat Alternates ExLight';
$ma-ebd:'Montserrat Alternates Extra Bold';
$ma-lt:'Montserrat Alternates Light';
$ma-md:'Montserrat Alternates Medium';
$ma-bd:'Montserrat Alternates Bold';


// -- Colors -- //

$white: #ffffff;
$white-f7: #f7f7f7;
$black: #000000;
$black-lt: #2c2c2c;
$gray: #9fa3a7;
$gray-w: #f7f8f9;
$gray-dk: #212121;
$gray-lt: #b0b0b0;
$gray-bd: #bdbdbd;
$gray-d8: #D8D8D8;

// Brand colors
$gray-dk: #2d2d2b;
$wheat: #b8926a;
$rose: #d4c8be;
$breath: #eae6df;
$bones: #ece7e0;


$yellow: #ffc80a;
$blue: #00b7e8;
$br-blue: #04233D;
$blue-dk: #10141d;
$blue-dk-2: #0a0a28;
$blue-gr: #282f35;
$green: #5aab84;
$marine: #92fcc8;
