//--  Fonts --//



// -- Colors -- //

$white: #ffffff;
$black: #000000;
$gray: #353434;
$gray-lt: #DEDEDE;
$gray-d8: #D8D8D8;

// Brand colors

$yellow: #FBBF2A;
$blue: #00b7e8;
$br-blue: #04233D;
$blue-dk: #00598a;
$green: #5aab84;
$marine: #92fcc8;
$green-dk: #093821;