.hero {
	&-slider {
		border: none;
		margin: 0 0;
		&.slick-dotted.slick-slider {
			margin-bottom: 0;
		}
		// Slide controls
		.slick-dots {
			bottom: rem(20px);
			z-index: 3;
			@include mq('md') {
				width: rem(30px);
				@include center('vertical');
				left: rem(30px);
				bottom: unset;
			}
			li {
				display: inline-block;
				vertical-align: middle;
				margin: rem(7px) rem(6px);
				width: rem(10px);
				height: rem(10px);
				border-radius: 100%;
				background-color: rgba($white,0.5);
				transition: all 0.34s;
				@include mq('md') {
					display: block;
					margin: rem(10px) auto;
				}
				&.slick-active {
					width: rem(12px);
					height: rem(12px);
					background-color: $white;
				}
			}
		}


		// Slide items
		&__row {
			margin: 0 0;
			border: none;
			@include bgcover;
			min-height: 100vh;
			position: relative;
			background-position: top center;
			padding: rem(25px);
			opacity: 1;
			@include mq('md') {				
				padding: rem(80px);
			} 
			&::after {
				content: "";
				@include coverAbsolute(1);
				background-color: rgba($black, 0.25);
			}
		}

		&__caption {
			@include center('vertical');
			left: unset;
			right: rem(25px);
			width: 75%;
			max-width: rem(540px);
			z-index: 2;
			text-align: right;
			font-family: $ar;
			@include mq('md') {
				width: 50%;
				right: rem(80px);
			}
			h3 {
				color: $white;
				@include font(35px);
				@include mq('md') {
					@include font(60px);
				}
			}
			.content {
				p {
					color: $white;
					@include font(12px);
					@include mq('md') {
						@include font(20px);
					}
				}
			}
			a {
				color: $yellow;
				display: inline-block;
				padding: rem(10px) rem(20px); 
				text-transform: uppercase;
				margin-top: rem(40px);
				position: relative;
				font-family: $m-bd;
				@include font(10px);
				@include mq('md') {
					margin-top: rem(60px);
					@include font(20px);
				}
				&::after {
					content: "";
					display: block;
					width: rem(6px);
					height: rem(14px);
					@include iconBg('../images/icons/chevron-right.svg');
					@include center('vertical');
					right: 0;
				}
			}
		}
	}
}