.sticky-social {
	position: fixed;
	bottom: rem(40px);
	left: rem(40px);
	width: 100%;
	z-index: 10;
	&__nav {
		padding: 0 0;
		li {
			display: inline-block;
			margin-right: rem(16px);
			a {
				display: block; 
				width: rem(25px);
				height: rem(25px);
			}
			&.fb {
				a {
					@include iconBg('../images/icons/facebook.svg');
				}
			}
			&.ins {
				a {
					@include iconBg('../images/icons/instagram.svg');
				}
			}
			&.lin {
				a {
					@include iconBg('../images/icons/linkedin.svg');
				}
			}
		}
	}
}