.services {
	// header
	&__top {
		text-align: center;
		padding: rem(20px);
		@include mq('md') {
			padding: 0;
			margin: rem(113px) 0 rem(128px);
		}
		h2 {
			display: inline-block;
			line-height: 0.85;
			@include font(25px);
			@include mq('md') {
				@include font(105px);
			}
		}
	}
	// wrapper content
	&__wrapper {
		@include wrapper;
		@include mq('md') {
			display: flex;
			flex-wrap: wrap;
			justify-items: center;
		}
	}

	&__item {
		text-align: center;
		padding: rem(40px);
		@include mq('md') {
			width: 50%;
			min-height: rem(520px);
			padding: 0 rem(60px) rem(60px);
		}
		&-thumb {
			width: rem(116px);
			min-height: rem(120px);
			position: relative;
			display: inline-block;
			&::after {
				content:"";
				width: rem(100px);
				height: rem(100px);
				border-radius: 100%;
				background-color: $bones;
				position: absolute;
				bottom: 0;
				left: 0;
			}
			img {
				display: block;
				width: rem(80px);
				height: auto;
				position: absolute;
				z-index: 1;
				left: rem(20px);
				bottom: rem(20px);
				transition: all 0.32s ease-in;
				@include mq('md') {
					width: rem(100px);
				}
			}
			&.Arquitectónico {
				img {
					width: rem(170px);
					height: rem(130px);
					left: rem(8px);
					bottom: rem(10px);
					transform: rotate(24deg);
				}
			}

			&:hover {
				transition: all 0.42s ease-out;
				transform: rotate(-24deg);
			}
		}
		&-text {
			display: block;
			max-width: rem(410px);
			margin: rem(16px) auto;
			text-align: center;
			h3 {
				@include font(12px);
				font-family: $m-bd;
				letter-spacing: rem(1px);
				display: inline-block;
				text-transform: uppercase;
				@include mq('md') {
					letter-spacing: rem(2px);
					@include font(21px);
				}
			}
			&__caption {
				p {
					@include font(14px);
					font-family: $op;
					line-height: 2;
					color: $gray;
					@include mq('md') {
						@include font(23px);
					}
				}
			}
		}
	}
}