.hero-banner {
    position: relative;
    @include bgcover();
    min-height: 100vh;
    padding: 30vh 0;
    @include mq('md'){
        padding: rem(470px) 0 rem(120px);
        min-height: rem(820px);
    }
    &__caption {
        @include wrapper;
        max-width: rem(960px);
        h2 {
            color: $white;
            @include font(35px);
            margin: 0 0;
            @include mq('md') {
                @include font(60px);
                max-width: rem(480px);
            }
        }
    }
}